<div class="home-index">
  <h1>Instrumentos Musicais</h1>

  <!-- Barra de busca -->
  <%= form_with url: root_path, method: :get, local: true, class: "search-form" do |form| %>
    <div>
      <%= form.label :q, "Buscar instrumento:" %>
      <%= form.text_field :q, value: params[:q], placeholder: "Ex: Violão, Guitarra..." %>
      <%= form.submit "Buscar" %>
    </div>
  <% end %>

<hr>


  <hr>

  <div class="cards-container">
    <div class="card-grid">
      <% @instruments.each do |instrument| %>
        <div class="instrument-card">
          <% if instrument.image_url.present? %>
            <img src="<%= instrument.image_url %>" alt="<%= instrument.name %>">
          <% else %>
            <div class="no-image-placeholder">
              <span>Sem imagem</span>
            </div>
          <% end %>

          <h2><%= instrument.name %></h2>
          <p class="brand"><%= instrument.brand %></p>
          <p><%= instrument.description %></p>
          <p class="price">R$ <%= number_to_currency(instrument.price, unit: "", separator: ",", delimiter: ".") %></p>
        </div>
      <% end %>
    </div>
  </div>

  <% if @instruments.empty? %>
    <div class="empty-state">
      <p>Nenhum instrumento encontrado.</p>
    </div>
  <% end %>
</div>
