<%= simple_form_for [@user, @instrument], html: { class: 'form' } do |form| %>
  <%= form.input :name,
                 label: 'Nome',
                 input_html: { class: 'form-control' },
                 required: true %>

  <%= form.input :category,
                 collection: Instrument::CATEGORIES,
                 prompt: 'Selecione uma categoria',
                 label: 'Categoria',
                 input_html: { class: 'form-control' },
                 required: true %>

  <%= form.input :brand,
                 collection: Instrument::BRANDS,
                 prompt: 'Selecione uma marca',
                 label: 'Marca',
                 input_html: { class: 'form-control' },
                 required: true %>

  <%= form.input :price,
                 label: 'Preço (R$)',
                 input_html: { class: 'form-control', step: 0.01 },
                 required: true %>

  <div class="mb-3">
    <%= form.button :submit, submit_text, class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', user_profile_path(@user), class: 'btn btn-secondary' %>
  </div>
<% end %>
